.current-box {
    width: 250px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 130px;
    margin-right: 50px;
    padding-bottom: 5px;
    padding-left: 3px;
    overflow-y: auto;
    margin-top: 10px;
}

.current-title {
    text-align: left;
    padding: 5px;
}

.current-music {
    margin-top: -25px;
    margin-left: 7px;
}

.current-content { 
    margin-left: 6px;
    padding-right: 5px;
}

.current-content img {
    height: 20px;
}

/* scroll bar */
.current-box::-webkit-scrollbar {
    border-radius: 3px;
}

.current-box::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #cce6f4;
}

.current-box::-webkit-scrollbar-button {
    display: none;
}

.current-box::-webkit-scrollbar-thumb:hover {
    background-color: #3e92cc;
}

.music-player { 
    height: 32px;
    width: 230px;
    border-radius: 8px;
}