.update-box {
    width: 250px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 130px;
    margin-right: 50px;
    padding-bottom: 5px;
    padding-left: 3px;
    overflow-y: auto;
    margin-top: 10px;
}

.update-title {
    text-align: left;
    padding: 5px;
}

.update-date {
    margin-top: -25px;
    margin-left: 7px;
}

.update-content { 
    margin-left: 7px;
    padding-right: 5px;
}

/* scroll bar */
.update-box::-webkit-scrollbar {
    border-radius: 3px;
}

.update-box::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #cce6f4;
}

.update-box::-webkit-scrollbar-button {
    display: none;
}

.update-box::-webkit-scrollbar-thumb:hover {
    background-color: #3e92cc;
}