.update-box {
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 130px;
    margin-right: 85px;
    padding-bottom: 5px;
    padding-left: 3px;
}

.update-title {
    text-align: left;
    padding: 5px;
}

.update-date {
    margin-top: -25px;
    margin-left: 7px;
}

.update-content { 
    margin-left: 7px;
    padding-right: 5px;
}