.blinkie-box {
    width: 250px;
    height: 545px;
    /* height: 250px; */
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 130px;
    margin-right: 50px;
    padding-bottom: 5px;
    padding-left: 2px;
    overflow-y: auto;
    margin-top: 10px;
}

.blinkie-box img {
    max-width: 190px;
    max-height: 25px;
    border-radius: 0px !important;
}

.blinkie-content { 
    margin-left: -100px;
    padding-right: 5px;
}

/* scroll bar */
.blinkie-box::-webkit-scrollbar {
    border-radius: 3px;
}

.blinkie-box::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #cce6f4;
}

.blinkie-box::-webkit-scrollbar-button {
    display: none;
}

.blinkie-box::-webkit-scrollbar-thumb:hover {
    background-color: #3e92cc;
}