.site-footer {
    grid-area: site-footer-area;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    padding: 15px 20px;
    text-align: center;
    color: #ffffff;
    font-size: 0.9em;
    position: relative;
    z-index: 1;
    margin-left: 126px;
    margin-right: 30px;
    margin-top: 10px;
}

.site-footer p {
    margin: 0;
    padding: 0;
}

.site-footer img {
    width: 15px;
    height: 15px;
}