.nav-box {
    height: 200px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 130px;
    margin-right: 50px;
    overflow-y: auto;
}

.nav-box li {
    list-style-type: none;
    padding: 3px;
}

.nav-box a {
    color: #bbd0ff;
    text-decoration: none;
}

.nav-box a:visited {
    color: #b8c0ff;
    text-decoration: none;
}

.nav-box a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* scroll bar */
.nav-box::-webkit-scrollbar {
    border-radius: 3px;
}

.nav-box::-webkit-scrollbar-thumb {
    background-color: #cce6f4;
    border-radius: 3px;
}

.nav-box::-webkit-scrollbar-button {
    display: none;
}

.nav-box::-webkit-scrollbar-thumb:hover {
    background-color: #3e92cc;
}

.nav-title {
    text-align: left;
    padding: 5px;
}