.nav-box {
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 130px;
    margin-right: 85px;
}

.nav-box li {
    list-style-type: none;
    padding: 3px;
}

.nav-box a {
    color: #ADD8E6;
    text-decoration: none;
}

.nav-box a:visited {
    color: #ADD8E6;
    text-decoration: none;
}

.nav-title {
    text-align: left;
    padding: 5px;
}