.about-icon {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-top: 10px;
}

.about-icons-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.fragile-describer {
    width: auto;
    height: auto;
    margin-left: 30px;
    border-radius: 20px;
}

.entity-describer {
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 30px;
    border-radius: 20px;
}

.wizard-describer { 
    width: auto;
    height: auto;
    margin-left: -20px;
    margin-right: 30px;
    border-radius: 20px;
}

.flag-icon {
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.about-me-list {
    list-style-type: none;
    color: black;
    text-align: center;
}

.about-me-list li {
    display: inline-block;
    border-left: 5px solid rgb(163, 219, 236);
    padding: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    text-decoration: underline;
}

.content-section-one {
    margin-bottom: 1px;
}

.content-section-two { 
    margin-bottom: -10px;
}

.content-section-two p {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

.content-section-two img {
    margin-left: 6px;
    border-radius: 4px;
    padding-bottom: 5px;
    margin-bottom: 2px;
    width: 150px;
}

.content-section-three { 
    flex: 2; 
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: -50px;
    margin-bottom: 50px;
}

.content-section-three p {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 4px;
}

.content-section-three img {
    width: 20px;
}

/* .content-section-three img {
    border-radius: 20px;
    margin-left: 5px;
    padding: 5px;
    width: 200px;
} */

.content-section-four { 
    flex: 2; 
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: -50px;
    margin-bottom: 50px;
    margin-top: -50px;
}

.content-section-four p {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

.content-section-four b {
    margin-left: 10px;
}

.character-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.content-section-four .character-card img {
    border-radius: 20px;
    width: 80%;
    height: 200px;
    margin-left: 0;
    object-fit: cover;
    display: block;
}

.content-section-four .character-card p {
    text-align: center;
}

.content-section-five {
    flex: 2;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: -50px;
    margin-bottom: 50px;
    margin-top: -50px;
}

.content-section-five p {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}
