.about-icon {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-top: 10px;
}

.about-icons-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.fragile-describer {
    width: auto;
    height: auto;
    margin-left: 30px;
    border-radius: 20px;
}

.entity-describer {
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 30px;
    border-radius: 20px;
    
}

.flag-icon {
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.about-me-list {
    list-style-type: none;
    color: black;
    text-decoration: underline;
}

.about-me-list li {
    display: inline;
    border-left: 5px solid black;
    padding: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 2px;
}

.content-section-two p {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}