.container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr;
    grid-template-rows: 100px 2fr 1fr; 
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-top: 180px;
    margin-left: 90px;
    margin-right: 70px;
}

.main-container { 
    grid-area: 1 / 1 / 3 / 4; 
}

.header-section { 
    grid-area: 1 / 1 / 3 / 2; 
}

.header-section img { 
    width: 250px;
    height: 150px;
    margin-left: 130px;
}

.status-section { 
    grid-area: 1 / 2 / 2 / 4; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.status-text-section {
    padding: 10px;
    color: white;
}

.status-img-section {
    display: flex;
    align-items: center;
}

.status-img-section img { 
    width: 500px;
    height: 160px;
    margin-top: 50px;
}

.content-section { 
    grid-area: 2 / 2 / 3 / 4; 
    margin-top: 90px;
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
}

.content-section-one { 
    flex: 1; 
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: -50px;
}

.content-section-one p {
    text-align: justify;
    padding: 4px;
    margin-bottom: 10px;
}

.content-section-two { 
    flex: 1; 
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: -50px;
    margin-bottom: 50px;
}

.content-section-two p {
    text-align: justify;
    padding: 4px;
}

.footer-section { 
    grid-area: 3 / 1 / 4 / 4; 
}