.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-top: 170px;
    margin-left: 90px;
    margin-right: 70px;
}

.main-container {  
    grid-area: 1 / 1 / 4 / 4; 
}

.header-section { 
    grid-area: 1 / 1 / 3 / 2; 
}

.header-section img { 
    width: 250px;
    height: 150px;
    margin-left: 130px;
}

.content-section { 
    grid-area: 2 / 2 / 3 / 4; 
    background-color: blue;
}

.status-section { 
    grid-area: 1 / 2 / 2 / 4; 
    background-color: rosybrown;
}

.footer-section { 
    grid-area: 3 / 1 / 4 / 4; 
}
