html, body {
  height: 100%;
}

body {
  margin: 0;
  background: url('/public/images/backgrounds/pw_background.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Share Tech Mono', monospace;
  color: #ddd;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.02) 0,
    rgba(255, 255, 255, 0.02) 1px,
    transparent 1px,
    transparent 2px
  );
  opacity: 0.05;
  animation: noise 0.3s infinite;
  z-index: 9999;
  pointer-events: none;
}
